In [43]:
def make_dict(A, B):
    #辞書を作る処理
    Dict = {}
#     for p in range(len(A)):
#         Dict[A[p]] = B[p]
    for x,y in zip(A,B):
        Dict[x] = y
    return Dict

A = [1, 2, 3, 4]
B = ['a', 'b', 'c', 'd']

make_dict(A, B)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [67]:
def mojiretu(X):
    C = '\v'.join(X)
    D = C.split()
    return D

A = ['a','b','c','d','e']
B = ['aaa','bb','ccccc']

mojiretu(B)

['aaafbbfccccc']

In [103]:
import pandas as pd

a = [i for i in range(10)]
b = ['b' + str(i) for i in range(10)]

data = {
    'num': a,
    'string': b,
}

df = pd.DataFrame(data)
print(df[df['string']=='b2'])

   num string
2    2     b2

In [126]:
import datetime as dt
import pandas as pd

df = pd.read_csv('Nintendo.csv')
df['Date'] = pd.to_datetime(df['Date'])
df[(df['Date'] >= dt.datetime(2012,1,10)) & (df['Date'] <= dt.datetime(2012,1,16))]

        Date     Open     High      Low    Close   Volume
3 2012-01-10  10870.0  10870.0  10510.0  10540.0  16100.0
4 2012-01-11  10490.0  10540.0  10410.0  10420.0  15000.0
5 2012-01-12  10430.0  10580.0  10420.0  10460.0  12200.0
6 2012-01-13  10460.0  10460.0  10160.0  10340.0  18500.0
7 2012-01-16  10300.0  10500.0  10290.0  10360.0  11200.0